{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% load l10n %}
    <div class="container">
      <h1></h1>
    <div class="row" id="dashboard-top">
        <div class="col-4">
            <div class="row white_row">
                <!-- Profil -->
                <h6 style="background: #34495e;color:white;padding:10px;text-align:center;width:100%;font-weight:400;">Profil</h6>
                <div class="col-12" style="text-align: center">
                  <img src="{% if user.userprofile.image %}{{user.userprofile.image.url}}{% else %}http://www.yesuart.com/images/default-user.png{% endif %}" alt="..." style="width:12vw;height:12vw;display:block;margin: 0 auto;margin-bottom:20px;" class="rounded-circle center">
                </div>
                <div class="col-10 offset-1" style="text-align:center;">
                    <span id="profil-username" style="font-size:22px;font-weight: bold;">{{ request.user.username }}</span>
                </div>
                <div class="col-12" style="text-align: justify;">
                    <p style="font-size:14px;">
                      {% if user.userprofile %}
                        <p><i class="fa fa-quote-left" aria-hidden="true" style="color:#34495e;font-size:32px;"></i>&nbsp;{{user.userprofile.bio}}</p>
                      {% endif %}
                    </p>
                </div>
            </div>

            <div class="row white_row">
                <!-- Activités terminées -->
                <h6 style="background: #34495e;color:white;padding:10px;text-align:center;width:100%;font-weight:400;">Demandes d'amis</h6>
                <div class="list-group" style="width:100%">

                  {% for r in requests %}

                  <a href="{% url 'profile' pk=r.from_user.id %}" class="list-group-item list-group-item-action flex-column align-items-start border-0">
                    <div class="d-flex w-100 justify-content-between">
                      <div>
                          {% if r.from_user.userprofile.image  %}
                        <img src="{{ r.from_user.userprofile.image.url }}" style="width:2vw;height:2vw;display:inline" class="rounded-circle center">
                            {% endif %}
                          <h5 class="mb-1" style="display:inline;vertical-align:middle;">{{ r.from_user.username }}</h5>
                      </div>
                      <div>
                        <form method="post" action="{% url 'manage-friend' %}" style="display:inline">
                          {% csrf_token %}
                          <input type="hidden" name="request_id" value="{{r.id}}">
                          <button type="submit" class="btn btn-small btn-success" name="action" value="accept"><i class="fa fa-check" aria-hidden="true"></i></button>
                          <button type="submit" class="btn btn-small btn-danger" name="action" value="reject"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </form>
                      </div>
                    </div>
                  </a>

                  {% endfor %}
                </div>
            </div>

            <div class="row white_row">
                <!-- Activités terminées -->
                <h6 style="background: #34495e;color:white;padding:10px;text-align:center;width:100%;font-weight:400;">Activités terminées</h6>
                <div class="list-group" style="width:100%">

                  {% for activity in activities_done %}

                  <a href="{% url 'activity' pk=activity.id %}" class="list-group-item list-group-item-action flex-column align-items-start border-0">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{ activity.title }}</h5>
                      <small>{{ activity.date }}</small>
                    </div>
                    <small>{{ activity.description }}</small>
                  </a>

                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-8" style="padding-left:50px;">
            <div class="row white_row">
                <!-- Prochaines activités -->
                <h6 style="background: #34495e;color:white;padding:10px;text-align:center;width:100%;font-weight:400;">Vos prochaines activités</h6>
                <div class="col-12">
                    {% for activity in next_activities %}
                        <div class="card mb-3 border-0">
                          <img  class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center={{ activity.position.y|unlocalize }},{{ activity.position.x|unlocalize }}
                                                          &zoom=13&size=600x200&maptype=roadmap
                                                          &markers=color:blue%7Clabel:{{activity.title}}%7C{{ activity.position.y|unlocalize }}, {{ activity.position.x|unlocalize }}
                                                          &key=AIzaSyC7h7I1_X4CyNylo7LEbjRub0SZP5ruLlU"/>
                          <div class="card-block">
                            <h4 class="card-title">{{ activity.title }}</h4>
                            <p class="card-text">{{ activity.description }}</p>
                            <p class="card-text"><small class="text-muted">{{ activity.date }}</small></p>
                            <a href="{% url 'activity' pk=activity.id %}" class="btn btn-sm btn-primary" style="float:right;">En savoir plus</a>
                          </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="row">
                <!-- Personnes rencontrées -->
            </div>
        </div>
    </div>
    </div>
    <div class="container">
    <hr/>
    <div class="row" id="dashboard-bottom" style="max-height:500px;margin-bottom:20px;">
        <div class="col-4" style="padding:1px;overflow-y:scroll;background:white;">
          <h6 style="background: #34495e;color:white;padding:10px;text-align:center;font-weight:400;">Près de chez vous !</h6>
            <div id="accordion" role="tablist" aria-multiselectable="true">
              {% for activity in upcoming_activities %}
              <div class="card" style="background:white;border:0px; border-radius:0px;">
                <div class="card-header" role="tab" id="heading{{activity.id}}" style="background:white;border:0px;border-radius:0px;border-bottom:1px solid #eee;">
                  <h6 class="mb-0">
                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse{{activity.id}}" aria-expanded="false" aria-controls="collapse{{activity.id}}" style="display:block;">
                      {{ activity.title }}
                    </a>
                  </h6>
                </div>

                <div id="collapse{{ activity.id }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ activity.id }}">
                  <div class="card-block">
                    <p>
                    {{ activity.description }}
                    </p>
                    <a href="{% url 'activity' pk=activity.id %}" class="btn btn-sm btn-primary" style="float:right;margin-bottom:10px;">En savoir plus</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="col-8" style="padding:0px;">
            <div id="map-canvas" style="width:100%;height:500px;"></div>
        </div>
    </div>
    </div>

    {% include "utils/google_maps.html" %}
<script>

function initialize() {
  var map = new google.maps.Map(document.getElementById('map-canvas'));
  var bounds = new google.maps.LatLngBounds();
  function addMarker(lat, lng, title, lab) {
    var position = new google.maps.LatLng(lat, lng);
    var marker = new google.maps.Marker({
      position: position,
      map: map,
      clickable: true,
      title: title,
      label: lab
    });
    bounds.extend(position);
  }
  {% for activity in upcoming_activities %}
    addMarker({{ activity.position.y|unlocalize }},{{ activity.position.x|unlocalize }}, "{{ activity.title }}", "{{ activity.title }}");
  {% endfor %}

  map.fitBounds(bounds);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}
