{% extends "base.html" %}

{% block title %}Matchmaking, give your location{% endblock %}

{% block content %}

    {% load bootstrap4 %}
    <div class="container">
        <div class="row">
          <div class="col-10 offset-1">
            <div class="alert alert-info" role="alert">
              <h4 class="alert-heading">Almost there !</h4>
              <p>What tags are you intrested by ? </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <form method="GET" >
               {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Submit
                    </button>
                {% endbuttons %}
            </form>
          </div>
        </div>
    </div>

{% endblock %}
