<div class="card-deck" id="id_users">
    {% for user in users %}

        <div class="card text-center checkbox" style="max-width: 200px;">

        {% if user.userprofile.image %}
        <img class="img-fluid img-thumbnail"   src="{{ user.userprofile.image.url }}" alt="Card image cap">
        {% else %}
        <img class="img-fluid img-thumbnail"   src="https://blogs-images.forbes.com/hughmcintyre/files/2015/02/Scarlett.jpg" alt="Card image cap">
        {% endif %}
            <div class="card-block">
                <h5 class="card-title">{{ user.username }}</h5>
            <input type="checkbox" name="users" id="id_users_{{ forloop.counter0 }}" value="{{ user.0 }}" {% if user.0 in selected_ids %} checked {% endif %} />Inviter ?<br />
            </div>
        </div>


    {%  endfor %}
</div>