{% extends "base.html" %}

{% block title %}Activity{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="display-2">{{ activity.title }}</h1>
        <p>
            {{ activity.date_time }}
        </p>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h2>Description</h2>
                    </div>
                    <div class="row">
                        <p>{{ activity.description }}</p>
                    </div>
                    <div id="map-canvas" class="row" style="height: 300px;"></div>

                    <div class="row">
                        <h2>Participants</h2>
                        <div class="d-flex flex-wrap">
                        {% for participant in activity.users.all %}
                            <div class="card p-2">
                                <img class="card-img-top img-thumbnail" src="http://bitsouq.com/images/users/avatar-001.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">{{ participant.username }}</h4>
                                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h2>Discussion</h2>
                    {% load disqus_tags %}
                    {% disqus_show_comments %}
                </div>
            </div>
        </div>

    </div>

    {% include "utils/google_maps.html" %}
    <script>
        function initialize() {
            var map = new google.maps.Map(document.getElementById('map-canvas'));
            var bounds = new google.maps.LatLngBounds();
            function addMarker(lat, lng, title, lab) {
                var position = new google.maps.LatLng(lat, lng);
                var marker = new google.maps.Marker({
                  position: position,
                  map: map,
                  clickable: true,
                  title: title,
                  label: lab
                });
                bounds.extend(position);
            }
            addMarker({{ activity.position.latitude}}, {{ activity.position.longitude}}, "{{ object.title }}");
            map.fitBounds(bounds);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}